<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Basico -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Metas Celular-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Metas -->
    <title>FunkoMania</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Iconos -->
    <link rel="shortcut icon" type="image/png" href="../images/icon.png"/> 
    <link rel="apple-touch-icon" href="../images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">
	<script src="../js/modernizr.js"></script><!--Modernizr -->

</head>
<body id="page-top" class="politics_version">

    <!-- LOADER DEL INICIO -->
    <div style="background-color: #2196F3" id="preloader" >
		<div id="main-ld">
			<div class="loader">
				<span class="loader-inner">Funko Pop Manía</span>
			</div>
		</div>
    </div>
	
    <!-- Navigación -->
    <nav  style="background-color: #2196F3; " class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="../images/Logo.svg" alt="" />
		</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-secondary mb-2 float-right" href="login.html"><i class="fa fa-user"></i></a>
    </div>  
    </nav>
	
	<section id="home" class="main-banner parallaxie" style="background: url('../uploads/banner-01.jpg')">
		<div class="heading">
			<h1>Bienvenido a <i style="color: #1293ce">Funko</i> <i style="color: #fed950">Pop</i> <i style="color: #24ce10">Manía</i></h1>
			<p>Donde encontraras los mejores funkos del mercado, <br> además que podemos conseguir por pedido tu funko especial!</p>
			<h3 class="cd-headline clip is-full-width">
				<span>Entre nuestros funkos</span>
				<span class="cd-words-wrapper">
					<b class="is-visible"> gozamos con Animación</b>
					<b> gozamos con Disney</b>
					<b> gozamos con Marvel</b>
					<b> gozamos con TV</b>
					<b> gozamos con Cine</b>
					<b> gozamos con DC Comics</b>
					<b> gozamos con Games</b>
					<b> gozamos con Sports</b>
					<b> gozamos con Rocks</b>
					<b> gozamos con Star Wars</b>
					<b> gozamos con Blog</b>
					<b> gozamos con Others</b>
				</span>
			</h3>
		</div>
	</section>
	
	<div id="pops" class="section lb">
		<div class="container">
			<div class="section-title text-center">
				<h3>POPs</h3>
				<p>Define tu estilo de Funko POP seleccionando tu favorito</p>
			</div><!-- end title -->
		
			<div class="gallery-menu text-center row">
				<div class="col-md-12">
					<div class="button-group filter-button-group">
						<button class="active" data-filter="*">Mostrar todo</button>
						<button data-filter=".DC_Comics">DC_Comics</button>
                        <button data-filter=".TV">TV</button>
                        <button data-filter=".Animación">Animación</button>
                        <button data-filter=".Marvel">Marvel</button>
                        <button data-filter=".Cine">Cine</button>
					</div>
				</div>
			</div>

			<div class="gallery-list row">
				<div class="col-md-4 col-sm-6 gallery-grid DC_Comics">
					<div class="gallery-single fix">
						<img src="../uploads/Funkos/harley.jpg" class="img-fluid" alt="Image">
						<div class="box-content">
							<div class="inner-content">
								<h3 class="title">Harley Quinn</h3>
								<span class="post">DC_Comics</span>
							</div>
							<ul class="icon">
								<li><a href="../uploads/Funkos/harley.jpg" data-rel="prettyPhoto[gal]"><i class="fa fa-search"></i></a></li>
								<li><a href="detalles.html"><i class="fa fa-info"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

                <div class="col-md-4 col-sm-6 gallery-grid TV">
                    <div class="gallery-single fix">
                        <img src="../uploads/Funkos/leonard.jpg" class="img-fluid" alt="Image">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">Leonard</h3>
                                <span class="post">TV</span>
                            </div>
                            <ul class="icon">
                                <li><a href="../uploads/Funkos/leonard.jpg" data-rel="prettyPhoto[gal]"><i class="fa fa-search"></i></a></li>
                                <li><a href="detalles.html"><i class="fa fa-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 gallery-grid Animación">
                    <div class="gallery-single fix">
                        <img src="../uploads/Funkos/bob.jpg" class="img-fluid" alt="Image">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">Calamardo</h3>
                                <span class="post">Animación</span>
                            </div>
                            <ul class="icon">
                                <li><a href="../uploads/Funkos/bob.jpg" data-rel="prettyPhoto[gal]"><i class="fa fa-search"></i></a></li>
                                <li><a href="detalles.html"><i class="fa fa-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                     <div class="col-md-4 col-sm-6 gallery-grid Marvel">
                    <div class="gallery-single fix">
                        <img src="../uploads/Funkos/deapool.jpg" class="img-fluid" alt="Image">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">Deadpool</h3>
                                <span class="post">Marvel</span>
                            </div>
                            <ul class="icon">
                                <li><a href="../uploads/Funkos/deapool.jpg" data-rel="prettyPhoto[gal]"><i class="fa fa-search"></i></a></li>
                                <li><a href="detalles.html"><i class="fa fa-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> 

                <div class="col-md-4 col-sm-6 gallery-grid Cine">
                    <div class="gallery-single fix">
                        <img src="../uploads/Funkos/funko-pop-john-wick.jpg" class="img-fluid" alt="Image">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">John Wick</h3>
                                <span class="post">Cine</span>
                            </div>
                            <ul class="icon">
                                <li><a href="../uploads/Funkos/funko-pop-john-wick.jpg" data-rel="prettyPhoto[gal]"><i class="fa fa-search"></i></a></li>
                                <li><a href="detalles.html"><i class="fa fa-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>        
							

			</div>
		</div>
	</div>
	
	 <div id="reviews" class="section wb parallaxie" style="background: url('../uploads/funkos-bg.jpg')">
        <div class="container">
            <div class="section-title text-center">
                <h3>Último en <i style="color: #1293ce">Funkos</i></h3>
                <p>Colecciona lo más nuevo o lo último que esta en tendencias!!!</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
							<figure class="testimonial_img">
								<img src="../uploads/Pokemon.png" alt="" class="img-fluid">
							</figure>
                            <div class="testi-meta">
                                <h4>Pokeón</h4>
                            </div>
                        </div>

                    <div class="testimonial clearfix">
							<figure class="testimonial_img">
								<img src="../uploads/Collection_Funkoverse.png" alt="" class="img-fluid">
							</figure>
                            <div class="testi-meta">
                                <h4>DC Verse</h4>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="section db">
        <div class="container">
            <div class="section-title text-center">
                <h3>Contactanos</h3>
                <p>Si tienes duda de como realizar una compra o en una especialidad no dudes en comentarnos.</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor inserta tu nombre.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="email" type="email" placeholder="Correo" required="required" data-validation-required-message="Por favor inserta tu correo.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="phone" type="tel" placeholder="Teléfono" required="required" data-validation-required-message="Por favor inserta tu teléfono.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Mensaje" required="required" data-validation-required-message="Por favor inserta tu mensaje."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button id="sendMessageButton" class="sim-btn btn-hover-new" data-text="Enviar" type="submit">Enviar</button>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">Todos Los Derechos Reservados. &copy; 2020 <a href="#">FunkoMania</a> Diseñada Por: 
					<a href="#">TSalv</a></p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

    <!--Cerrar Seción-->
      <div class="modal fade" id="modalSalir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Si seleccionas "Salir" vas ha cerrar sesión.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="AdminFunko/php/cerrar_sesion.php">Salir</a>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="../js/all.js"></script>
	<!-- Camera Slider -->
	<script src="../js/jquery.easing.1.3.js"></script> 
	<script src="../js/parallaxie.js"></script>
	<script src="../js/headline.js"></script>
	<script src="../js/jquery.appear.min.js"></script>
	<script src="../js/skill.bars.jquery.js"></script>
    <script src="../js/jqBootstrapValidation.js"></script>
	<script src="../js/main.js"></script>
    <script src="../js/custom.js"></script>

</body>
</html>